<div id="area">
  <div class = "tab-detail">
      <div class = "tab-title">
          Summary Contracts 
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td> Total Contracts</td>
              <td class="c"> {{contract}}</td>
          </tr>
          <tr>
              <td> Total Outstanding</td>
              <td class="c"> 14.860.000</td>
          </tr>
          <tr class="record2">
              <td>Contract number</td>
              <td>Contract 1</td>
          </tr>
          <tr>
              <td>Outstanding</td>
              <td>2561000</td>
          </tr>

          <tr class="record2">
              <td>Product</td>
              <td>PL</td>
          </tr>
          <tr >
              <td>Disbursal date</td>
              <td>14/04/2020</td>
          </tr>
          <tr  class="record2">
              <td>Intallment amount</td>
              <td>1200000</td>
          </tr>
           <tr >
              <td>Intallment date</td>
              <td>05</td>
          </tr>
          <tr  class="record2">
              <td>Status</td>
              <td>Active</td>
          </tr>
          <tr>
              <td colspan="2" class="r">=================</td>
          </tr>
          <tr class="record2">
              <td>Contract number</td>
              <td>Contract 1</td>
          </tr>
          <tr>
              <td>Outstanding</td>
              <td>2561000</td>
          </tr>

          <tr class="record2">
              <td>Product</td>
              <td>PL</td>
          </tr>
          <tr >
              <td>Disbursal date</td>
              <td>14/04/2020</td>
          </tr>
          <tr  class="record2">
              <td>Intallment amount</td>
              <td>1200000</td>
          </tr>
           <tr >
              <td>Intallment date</td>
              <td>05</td>
          </tr>
          <tr  class="record2">
              <td>Status</td>
              <td>Active</td>
          </tr>
      </table>
  </div>
  <div class = "tab-detail">
      <div class = "tab-title">
          Contracts Cancel / In Progress
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td> Total Contracts</td>
              <td class="c"> 2 </td>
          </tr>
          <tr class="record2">
              <td>Contract number</td>
              <td>Contract 1</td>
          </tr>
          <tr>
              <td>Loan amount</td>
              <td>2561000</td>
          </tr>
          <tr class="record2">
              <td>Create date</td>
              <td>14/04/2020</td>
          </tr>
          <tr >
              <td>Product</td>
              <td>TW</td>
          </tr>
           <tr class="record2" >
              <td>Status</td>
              <td>Cancel</td>
          </tr>

          <tr>
              <td colspan="2" class="r">=================</td>
          </tr>
          <tr class="record2">
              <td>Contract number</td>
              <td>Contract 1</td>
          </tr>
          <tr>
              <td>Loan amount</td>
              <td>2561000</td>
          </tr>
          <tr class="record2">
              <td>Create date</td>
              <td>14/04/2020</td>
          </tr>
          <tr >
              <td>Product</td>
              <td>TW</td>
          </tr>
           <tr class="record2" >
              <td>Status</td>
              <td>In progress</td>
          </tr>
      </table>
  </div>
</div>
<div id="area">
  <div class = "tab-detail">
      <div class = "tab-title">
          Phone number 
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td>Main phone</td>
              <td>090000000</td>
          </tr>
          <tr>
              <td>Main phone</td>
              <td>090000000</td>
          </tr>

          <tr class="record2">
              <td>Ref phone</td>
              <td>0900000000</td>
          </tr>
          <tr >
              <td>Ref phone</td>
              <td>0900000000</td>
          </tr>
          <tr  class="record2">
              <td>Wife phone</td>
              <td>090000000</td>
          </tr>
           <tr >
              <td>Husband</td>
              <td>09000000</td>
          </tr>
          <tr  class="record2">
              <td>Friend phone</td>
              <td>090000000</td>
          </tr>

      </table>
  </div>
  <div class = "tab-detail">
      <div class = "tab-title">
          Address 
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td>Address per</td>
              <td>9 Đoàn văn Bơ, P.14 Q.4</td>
          </tr>
          <tr>
              <td>Address temp</td>
              <td>9 Đoàn văn Bơ, P.14 Q.4</td>
          </tr>
      </table>
  </div>
  <div class = "tab-detail">
      <div class = "tab-title">
          Relationship 
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td>Relative</td>
              <td>Mother</td>
          </tr>
          <tr>
              <td>Name</td>
              <td>Nguyễn Thị Mơ</td>
          </tr>
          <tr class="record2">
              <td>ID no</td>
              <td>020475897</td>
          </tr>
          <tr>
              <td>Phone number</td>
              <td></td>
          </tr>
          <tr class="record2">
              <td>Address</td>
              <td>Q5 Tp.HCM</td>
          </tr>
          <tr>
              <td colspan="2" class="r">===========</td>
          </tr>
          <tr class="record2">
              <td>Relative</td>
              <td>Father</td>
          </tr>
          <tr>
              <td>Name</td>
              <td>Nguyễn Văn Tý</td>
          </tr>
          <tr class="record2">
              <td>ID no</td>
              <td>020475897</td>
          </tr>
          <tr>
              <td>Phone number</td>
              <td>090000000</td>
          </tr>
          <tr class="record2">
              <td>Address</td>
              <td>Q5 Tp.HCM</td>
          </tr>
      </table>
  </div>
  <div class = "tab-detail">
      <div class = "tab-title">
          Person Incom - Work 
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td>Person Incom</td>
              <td>15.000.000</td>
          </tr>
          <tr>
              <td>Job</td>
              <td>Công nhân</td>
          </tr>
          <tr class="record2">
              <td>Company name</td>
              <td>Công ty TNHH ABCX</td>
          </tr>
          <tr>
              <td>Tax no</td>
              <td></td>
          </tr>
          <tr class="record2">
              <td>Company address</td>
              <td>Q5 Tp.HCM</td>
          </tr>
      </table>
  </div>
</div>
<div id="area">
  <div class = "tab-detail">
      <div class = "tab-title">
          API - Facebook
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td>Facebook name</td>
              <td>ABC XYZ</td>
          </tr>
          <tr>
              <td>Create date</td>
              <td>Tháng 4 năm 2013</td>
          </tr>
      </table>
  </div>
  <div class = "tab-detail">
      <div class = "tab-title">
          Top friend contact
      </div>
      <table class="tb-detail">
          <tr class="record2">
              <td>Friend 1</td>
              <td>ABC XYZ</td>
          </tr>
          <tr">
              <td>Friend 2</td>
              <td>ABC XYZ</td>
          </tr>
          <tr class="record2">
              <td>Friend 3</td>
              <td>ABC XYZ</td>
          </tr>
          <tr">
              <td>Friend 4</td>
              <td>ABC XYZ</td>
          </tr>
          <tr class="record2">
              <td>Friend 5</td>
              <td>ABC XYZ</td>
          </tr>
      </table>
  </div>
</div>